.vartical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.capital-font {
    font-family: 'PrototypsterMediumWebfont';
}

.main-font {
    font-family: 'Open Sans', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}